.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0 10px;
}

.tag_item {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    padding: 4px 30px;
}