.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0;

}

.nav_links {
    display: flex;
    gap: 45px;
    position: relative;
}

.nav_links a {
    color: #FF6060;
    font-size: 34px;
    text-decoration: none;
}

.nav-active {
    position: relative;
}

.nav-active::after {
    content: "";
    height: 2px;
    width: 100%;
    background: #FF6060;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@media (max-width: 767.98px) {
    .header_nav {
        margin: 20px 0;
    }

    .header_nav img {
        height: 45px;
    }

    .nav_links {
        gap: 20px;
    }

    .nav_links a {
        font-size: 16px;
    }

    .nav-active::after {
        height: 1px;
    }
}